*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

  .nav_bar{
    list-style: none;
    width: 100%;
    
    position:fixed;
    display: flex;
    color:white;
    height: 60px;
    background-color:cornflowerblue;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center; 
    
}

ul li a {
    color:white;
    text-decoration: none;
    height: 30px;
    width:60px;
    
    
}


ul li:hover,
ul li a:hover
{   
    
    color:#e9df6f; 
    border-radius:3px;
    font-weight: bold;
    border-bottom: 2px solid #f1de09;
    cursor:pointer;
}



/* shop section css */


body{
    background-color: #e2e7e6;
}


.shop_section{
    display:flex;
    flex-wrap: wrap;
    /* margin-top: 25px; */
    margin-bottom: 25px;
    justify-content: space-evenly;
   
    border-radius: 4px;
    
}



.book{
    display:flex;
    flex-direction: column;
    padding:5px 30px 5px 30px;
    height: 350Px;
    width: 23%;
    margin-top: 80px;
    /* margin-bottom: 20px; */
    /* border :2px solid black; */
    background-color: white;
    background-image: cover;
    
}


  .book:hover{
    border: 2px solid hsl(226, 34%, 68%);
    border-radius: 4px;
    
  }


          /*********   Button Style     ***********/


button {
    background-color: #3498db; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    
}
   .btn{
    align-self: flex-start;
   }

          /************   Button Style on Hover   ************/

button:hover {
    font-weight: bold;
    background-color: #2980b9; 
    color: #fff; 
    border-radius: 4px;
}


